:root{
    --primary-color:#3B1E54;
}
.body{
    height: 100vh;
    background-color: #D4BEE4;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 9%;
    margin:  1%;
    background-color: #EEEEEE;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}
.link{
    display: flex;
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-color);
    margin-right: 20px;
}
.link:hover{
    color: var(--primary-color);
}
.img{
    height: 40px;
    width: 40px;
}
.profile{
    cursor: pointer;
}
.input{
    border: none;
    height: 45px;
    width: 100%;
    padding: 0 20px;
    background-color: gainsboro;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    outline: none;
    color: rgb(105, 105, 105);
}
.inlogo{
    height: 45px;
    padding: 0 20px;
    background-color: gainsboro;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    color: rgb(105, 105, 105);
}
.cart{
    color: var(--primary-color);
}
.barcart{
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    background-color: rgb(222, 220, 220);
}
.barcart:hover{
    color: var(--primary-color);
}
.menulist{
    border-radius: 5px;
}
.logout{
    border-radius: 5px;
}
.menulist:hover{
    background-color: #623788 !important;
    color: white !important;
}
.logout:hover{
    background-color: rgb(230, 64, 64) !important;
    color: white !important;
}
.menulist:active{
    background-color: #3B1E54 !important;
}
.logout:active{
    background-color: red !important;
}
.listmenu{
    border-radius: 5px !important;
}
.pop{
    background-color: #3B1E54;
    border: 1px solid white;
}



.content{
    height: 87%;
    background-color: #EEEEEE;
    margin: 0 1%;
    margin-bottom: 1%;
    border-radius: 10px;
}
.header{
    height: 10%;
    /* background-color: red; */
}

.underline_button {
    /* background-color: #3498db; */
    color: var(--primary-color); 
    border: none;
    font-size: 18px; 
    cursor: pointer;
    text-decoration: none; 
    position: relative; 
    transition: color 0.3s; 
}

.underline_button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: var(--primary-color);
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease-out; 
}

.underline_button:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.underline_button:hover {
    color: var(--primary-color); 
}

.main{
    height: 90%;
    /* background-color: blue; */
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main_content{
    /* height:100%; */
    position: absolute;
}

.favmain{
    background-color: #e4beff;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
}
.favbody{
    scrollbar-width: none;
}
.favimg{
    height: 120px;
    width: 120px;
    margin: 10px;
    border-radius: 7px;
}
.favtext{
    margin: 10px;
    margin-left: 0;
    font-size: 16px;
    font-weight: 500;
}
.add{
    border: none;
    border-radius: 7px;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(159, 255, 147);
    color: green;
    font-weight: 500;
}
.remove{
    border: none;
    border-radius: 7px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 127, 127);
    color: rgb(121, 2, 2);
    font-weight: 500;
}
.favinput{
    width: 40px;
    outline: none;
    border-radius: 7px;
    border: none;
    text-align: center;
    background-color: #EEEEEE;
    
}
