.main{
    height: 100vh;
}
.box{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px black;
}
.boxes{
    width: 450px;
}
.form{
    width: 400px;
}
.img{
    background-image: url('../../assets/images/Sign-up-bro.png');
    height: 350px;
    width: 350px;
    background-position: center;
    background-size: cover;
}

/*Mobile View*/
@media only screen and (min-width: 320px) and (max-width: 480px){
    .boxes{
        width: 250px;
    }
    .form{
        width: 250px;
    }
    .account{
        font-size: 10px;
    }
}
/*Tablet view*/
@media only screen and (min-width: 481px) and (max-width: 768px){

}
/*small laptop view*/
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .boxes{
        width: 400px;
    }
    .form{
        width: 350px;
    }
    .img{
        background-image: url('../../assets/images/Sign-up-bro.png');
        height: 300px;
        width: 300px;
        background-position: center;
        background-size: cover;
    }
}